.navbar {
    width: 100%;
    padding: 24px 0;
    height: 100%; 
    background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    
}

.togglebtn {
    display: none;
    font-size: 32px;
    color: #F05023;
    cursor: pointer;
    z-index: 1000;
}


.nav-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    background: white;
    padding: 18px 30px;
    border-radius: 60px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

}

.logo img {
    width: 140px;
    object-fit: contain;
}

.navlinks{
    display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
    font-family: 'Figtree', sans-serif;
    color: grey;
    font-size: 15px;
    font-weight: 600;
}
.navlinks li:hover {
    color: #F05023;
    cursor: pointer;
}

.navlinks li.active {
    color: #F05023;
    cursor: pointer;
}
.signup-btn {
    border: none;
    outline: none;

    background: #F05023;
    color: white;

    padding: 14px 28px;
    border-radius: 999px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #F05023;
}

.signup-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
    background-color: transparent;
    color:#F05023;
}


@media (max-width:768px) {

    .navbar {
        width: 100%;
        padding: 20px 16px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .navcontainer {
        width: 100%;
        padding: 18px 22px;
        border-radius: 20px;
        position: relative;
    }

    .logo img {
        width: 120px;
    }

    .signupbtn {
        display: none;
    }

    .togglebtn {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 32px;
        color: #F05023;
        cursor: pointer;
    }

    .navlinks {
        position: absolute;

        top: 110%;
        left: 0;

        width: 100%;

        display: none;
        flex-direction: column;
        align-items: center;

        gap: 24px;

        padding: 30px 0;

        background: #ffffff;

        border-radius: 20px;

        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    }

    .showmenu {
        display: flex;
    }

    .navlinks li {
        font-size: 18px;
        font-weight: 600;
    }

    .mobilebtn {
        display: block;

        border: none;
        outline: none;

        background: #F05023;
        color: white;

        padding: 14px 28px;

        border-radius: 999px;

        font-size: 16px;
        font-weight: 600;

        cursor: pointer;
    }
}